@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34;
  --background-clr: #fff;
  --navbar-height: 70px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 173, 181, 189;
    --background-clr: #212529;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-clr);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .clear {
    @apply hover:cursor-pointer hover:brightness-[80%] focus:brightness-[80%] transition-all;
  }
  .link-btn-primary {
    @apply py-2 px-4 w-fit bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:brightness-[80%] focus:brightness-[80%] transition-all;
  }
  .link-accent {
    @apply text-blue-500 hover:cursor-pointer hover:brightness-[80%] focus:brightness-[80%] transition-all;
  }
  .btn-outlined {
    @apply py-2 px-4 w-fit bg-inherit text-slate-500 font-semibold rounded-lg shadow-md hover:brightness-[80%] focus:brightness-[80%] border border-slate-500 transition-all;
  }
}
